/*          */
/*  ROOT    */
/*          */

:root
{
    /*  colors  */
    --main-color: #41d252;
    --second-color: #0f172a;
    --accent-color: #1f915e;
    --accent2-color: #3c3c3c;

    /*  empty sections  */
    --section-background: #181818;

    /*  main parts    */
    --header-background: var(--main-color);
    --main-background: temp;
    --footer-background: var(--accent2-color);

    /*  navigation header   */
    --nav-header-button-color: var(--accent-color);
    --nav-header-button-active-color: #1f915e;
    --nav-header-button-hover-color: rgb(71, 46, 151);

    /*  sections    */
    --home-section-background: var(--services-section-background);
    --services-section-background: var(--section-background);
    --about-section-background: var(--section-background);
    --portfolio-section-background: var(--section-background);
    --team-section-background: var(--section-background);
    --contact-background: var(--section-background);

    /*  services    */
    --service-card-background: #424242;
    --service-card1-hover-background: rgb(224, 51, 12);
    --service-card2-hover-background: rgb(230, 141, 25);
    --service-card3-hover-background: rgb(31, 62, 174);

    /*  about   */
    --about-card-background: var(--accent2-color);
    --about-card-stats-line-inactive-background: linear-gradient(90deg, black 0%, var(--accent2-color) 70%);
    --about-card-stats1-line-color: red;
    --about-card-stats2-line-color: green;
    --about-card-stats3-line-color: blue;

    /*  services    */
    --portfolio-card-background: none;
    --portfolio-card-button-background: none;

    /*  teams   */
    --team-card-background: black;
    --team-card-button-border-color: white;

    /*  misc    */
    --initial-vh: 1080;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html
{
    width: 100vw;
    max-height: 100%;
}

body
{
    width: 100%;
    height: 100%;

    background: #3c3c3c;
}

main
{
    position: relative;
}

section:not(.custom-section)
{
    width: 100%;
    padding: 4rem 2rem;
    min-height: var(--initial-vh);
    background: black;
}

section:not(.custom-section) > h1
{
    text-align: center;
    color: white;
    margin-bottom: 5%;
}

.body-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;

    transition: opacity .5s ease;
}

.flex-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-body
{
    width: 100%;
    height: 100%;
}

.section-title
{
    font-size: 40px;
    text-align: center;
}

/*          */
/*  OBJECTS */
/*          */

.interactive-button
{
    transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.interactive-button:hover
{
    transform: scale(1.05);
}

.interactive-button:active
{
    transform: scale(0.95);
}

.interactive-card
{
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.interactive-card:hover
{
    transform: scale(1.05);
    animation: breathingCard .8s ease-in-out infinite alternate;
}

.interactive-card:active:not(.team-card)
{
    transform: scale(0.95);
}

.button-w-background
{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;

    color: black;
    background: white;

    cursor: pointer;

    transition:
        transform .3s cubic-bezier(0.075, 0.82, 0.165, 1),
        background .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-w-background:hover
{
    background: #e0e0e0;
}

.button-w-background:active
{
    background: #c0c0c0;
}

.button-wo-background
{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;

    color: white;
    background: none;
    border: 1px solid white;

    cursor: pointer;

    transition:
        transform .3s cubic-bezier(0.075, 0.82, 0.165, 1),
        border-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-wo-background:hover
{
    border-color: #e0e0e0;
    color: #e0e0e0;
}

.button-wo-background:active
{
    border-color: #c0c0c0;
    color: #c0c0c0;
}

/*          */
/*  HEADER  */
/*          */

header
{
    position: sticky;
    top: 0;
    width: 100%;
    height: 90px;
    padding: 0 0 0 5vw;
    z-index: 999;

    display: flex;
    justify-content: space-around;

    background: var(--header-background);
    transition: top .4s ease;
}

header.hidden
{
    top: -100%;
}

/*  LEFT/IMAGE  */

header .header-left
{
    height: 100%;
    padding: 15px 0;
    flex-grow: 0;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

header .logo-wrapper img
{
    width: 70px;
    height: 100%;
    object-fit: cover;
}

header .logo-wrapper p
{
    font-size: 30px;
}

/*  CENTER      */

header .header-center
{
    flex: 1;
}

/*  RIGHT       */

header .header-right
{
    display: flex;
    align-items: center;
}

.nav-header
{
    transition: left .5s ease;
    overflow: hidden;
    padding-left: 5vw;
}

.nav-header,
header .nav-links
{
    height: 100%;
}

header .nav-links
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, var(--nav-header-button-color) 11%);
}

header .nav-links li
{
    width: 90px;
    cursor: pointer;
    list-style: none;

    background: var(--nav-header-button-color);

    transition:
        transform .3s ease,
        background .5s cubic-bezier(0.075, 0.82, 0.165, 1);

    transform: skewX(-15deg);
}

header .nav-links li,
header .nav-links li a
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav-links li a,
header .nav-links li > *
{
    width: 100%;
    height: 100%;
    text-decoration: none;

    color: white;

    transform: skewX(15deg);
    transition: box-shadow .4s ease;
}

header .nav-links li:hover
{
    background: var(--nav-header-button-hover-color);
    transform: skewX(-15deg) scaleX(1.1) translateX(-5%);
}

/*  TEST    */
.nav-header-button-background.active
{
    background: white;
    box-shadow: 0 0 10px white;
}

.nav-header-button-background.active a
{
    color: black;
}

.nav-header-button-background
{
    background-color: gray;
}

#nav-menu-checkbox,
.nav-menu-bar-wrapper
{
    display: none;
}

/*          */
/*  HOME    */
/*          */

#home
{
    display: flex;
    align-items: flex-end;

    background: url('Media/Pictures/main.png') no-repeat center center;
    background-size: cover;
}

#home #main-title
{
    animation: breathingText .7s ease infinite alternate;
}

#home .section-body
{
    width: 100%;

    /*height set by TS*/
    min-height: var(--initial-vh);

    padding: 30vw 5vw 5vw 5vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    background: linear-gradient(0deg, var(--home-section-background) 35%, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, 0) 85%);
}

#home h1,
#home p
{
    color: white;
}

#home #main-content
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#home h1
{
    font-size: 50px;
    text-align: center;
}

#home p
{
    font-size: 20px;
}

#home #main-actions
{
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#home #main-actions button
{
    flex: 1;
    padding: 15px 0;
    border-radius: 10px;

    cursor: pointer;
}

/*              */
/*  SERVICES    */
/*              */

#services
{
    background: var(--services-section-background);
}

#services .section-body
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#services,
#services .section-body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services * {
    color: white;
}

#service-content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card
{
    position: relative;
    width: 300px;
    min-height: 400px;
    max-height: 1000px;
    padding: 50px;

    background: var(--service-card-background);
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    transition:
        transform .4s cubic-bezier(0.075, 0.82, 0.165, 1),
        background .3s ease;
}

.service-card:hover
{
    transform: scale(1.05);
}

#service-card1:hover
{
    background: var(--service-card1-hover-background);
}

#service-card2:hover
{
    background: var(--service-card2-hover-background);
}

#service-card3:hover
{
    background: var(--service-card3-hover-background);
}

.service-card .service-card-background-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 10%,
        rgba(20, 20, 20, 0.5) 40%,
        rgba(0, 0, 0, 0) 80%);
    z-index: -1;
    background-size: 100% 200%;
    background-position: 0% -200%;

    transition:
        background-position .4s ease;
}

.service-card:hover .service-card-background-overlay
{
    background-position: 0% -120%;
}

.service-card p
{
    flex: 1;
    z-index: 1;
}

.service-card-title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px 0;
}

.service-card-title-icon-wrapper
{
    width: 100px;
    height: 100px;
}

.service-card-title-icon-wrapper img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*          */
/*  ABOUT   */
/*          */

#about,
#about .section-body
{
    height: var(--initial-vh);
}

#about .section-body
{
    height: var(--initial-vh, 1080px);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
}

#about .section-left,
#about .section-right
{
    flex: 1;
}

#about .section-left
{
    background: url(Media/Pictures/main.png);
    background-position: center;
    background-size: cover;
}

#about .section-right
{
    position: relative;
    padding: 50px;

    background-color: var(--about-section-background);
}

#about .section-right #about-background-gradient
{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(-90deg, var(--about-section-background)5%, rgba(0, 0, 0, 0) 50%);
}

#about .section-right #about-content
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    gap: 25px;
    padding: 25% 0;
}

#about .section-right *
{
    color: white;
}

#about-cards
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

#about-cards .about-card
{
    min-width: 140px;
    min-height: 100px;
    
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 20px;

    border-radius: 15px;
    padding: 15px;

    background: var(--about-card-background);
    transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about-card:hover
{
    transform: scale(1.1) translateY(-5%);
}

#about-cards .about-card h3
{
    flex: 1;
}

#about-cards .about-card .about-card-stats
{
    width: 100%;
}

#about-cards .about-card .about-card-stats .about-card-stats-line
{
    position: relative;
    height: 20px;
    margin: 10px 0 0 0;
    border-radius: 20px;
    overflow: hidden;

    background: var(--about-card-stats-line-inactive-background);
}

#about-cards .about-card .about-card-stats .about-card-stats-line .about-card-stats-line-inside
{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 2;

    transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#about-card-stats1-line-inside
{
    background-color: var(--about-card-stats1-line-color);
}

#about-card1:hover #about-card-stats1-line-inside
{
    transform: translateX(var(--x));
}

#about-card-stats2-line-inside
{
    background-color: var(--about-card-stats2-line-color);
}

#about-card2:hover #about-card-stats2-line-inside
{
    transform: translateX(var(--x));
}

#about-card3:hover #about-card-stats3-line-inside
{
    transform: translateX(var(--x));
}

#about-card-stats3-line-inside
{
    background-color: var(--about-card-stats3-line-color);
}

/*              */
/*  PORTFOLIO   */
/*              */

#portfolio
{
    background: var(--portfolio-section-background);
}

#portfolio h1
{
    font-size: 3rem;
}

#portfolio .portfolio-cards
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#portfolio .portfolio-card
{
    position: relative;
    width: 400px;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    background: var(--portfolio-card-background);

    border-radius: 15px;
    overflow: hidden;
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    will-change: transform;
}

#portfolio .portfolio-card:hover
{
    transform: scale(1.05);
}

#portfolio .portfolio-card .portfolio-card-image
{
    width: 100%;
    height: 100%;
}

#portfolio .portfolio-card .portfolio-card-image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease;
}

#portfolio .portfolio-card:hover .portfolio-card-image img
{
    transform: scale(1.05);
}

#portfolio .portfolio-card .portfolio-card-overlay
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding: 50% 15px 15px 15px;

    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.7) 45%, rgba(0, 0, 0, 0) 55%);
    background-size: 100% 300%;
    background-position: 0% 50%;

    transition: background-position .4s ease;
}

#portfolio .portfolio-card:hover .portfolio-card-overlay
{
    background-position: 0% 70%;
}

#portfolio .portfolio-card .portfolio-card-overlay *
{
    color: white;
}

#portfolio .portfolio-card .portfolio-card-overlay h2
{
    font-size: 2rem;
}

#portfolio .portfolio-card .portfolio-card-overlay .portfolio-card-content
{
    flex: 1;
}

#portfolio .portfolio-card .portfolio-card-overlay .portfolio-card-actions
{
    align-self: center;
    width: 50%;
}

#portfolio .portfolio-card .portfolio-card-overlay .portfolio-card-actions button
{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;

    background: var(--portfolio-card-button-background);
    border: 1px solid white;
}

/*          */
/*  TEAMS   */
/*          */

#team #team-cards
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#team #team-cards .team-card
{
    position: relative;
    width: 400px;
    border-radius: 30px;
    overflow: hidden;
    background: var(--team-card-background);
}

#team #team-cards .team-card .team-card-image,
#team #team-cards .team-card .team-card-image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#team #team-cards .team-card:hover .team-card-image img
{
    animation: breathingCardBackground .8s ease-in-out infinite alternate;
}

#team #team-cards .team-card .team-card-overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 80% 15px 10px 15px;

    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0) 60%);
    background-size: 100% 120%;
    background-position: 0% 100%;
}

#team #team-cards .team-card .team-card-overlay *
{
    color: white;
}

#team #team-cards .team-card .team-card-overlay > *
{
    height: 80px;
}

#team #team-cards .team-card .team-card-overlay h2
{
    text-align: center;
}

#team #team-cards .team-card .team-card-overlay .team-card-socials
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

#team #team-cards .team-card .team-card-overlay .team-card-socials a
{
    width: 30px;
    height: 30px;
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#team #team-cards .team-card .team-card-overlay .team-card-socials a:hover
{
    transform: scale(1.1);
}

#team #team-cards .team-card .team-card-overlay .team-card-socials a:active
{
    transform: scale(.9);
}

#team #team-cards .team-card .team-card-overlay .team-card-socials a img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#team #team-cards .team-card .team-card-overlay .team-card-actions button
{
    width: 100%;
    padding: 10px 20px;
    background: none;
    border: var(--team-card-button-border-color) 1px solid;
    border-radius: 10px;
}

/*              */
/*  CONTACT     */
/*              */

#contact
{
    justify-content: space-around;
}

#contact .section-body
{
    flex: 1;

}

#contact-content
{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}

#contact .section-body #contact-details,
#contact .section-body #contact-form
{
    flex: 1;
}

#contact .section-body #contact-details
{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#contact .section-body #contact-details .contact-details-point
{
    height: 60px;
    background: yellow;
}

#contact .section-body #contact-details .contact-details-point .contact-details-logo
{
    width: 15px;
    height: 15px;
}

#contact .section-body #contact-details .contact-details-point .contact-details-logo img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contact .section-body #contact-form
{
    background-color: blue;
}


/*              */
/*  MISC        */
/*              */

.body-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: 99999;
    pointer-events: none;
}

.body-overlay *
{
    color: white;
}

.body-system-tray
{
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 400px;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    padding: 15px;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: black 2px dotted;

    transition: bottom .5s ease;
    pointer-events: all;
}

.body-system-tray *
{
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#confirm-button
{
    padding: 20px 10px;
    background: none;

    transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid white;
}

#confirm-button:hover
{
    transform: scale(1.05);
}

#confirm-button:active
{
    transform: scale(0.95);
}

.body-system-tray.hidden
{
    bottom: -100%;
}




/*          */
/*  FOOTER  */
/*          */

footer
{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: var(--footer-background);
    color: white;
}

footer .footer-left,
footer .footer-right
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*          */
/*  MEDIA   */
/*          */

@media (max-width: 850px)
{
    /*          */
    /*  HEADER  */
    /*          */

    header .header-right
    {
        padding: 0 5vw 0 0;
    }

    #nav-menu-checkbox:checked ~ .nav-header
    {
        left: 50%;
    }

    #nav-menu-checkbox:checked ~ .nav-menu-bar-wrapper
    {
        transform: rotateZ(90deg);
    }

    .nav-header
    {
        position: fixed;
        top: 90px;
        left: 100%;
        width: 50vw;
        height: 90vh;
        z-index: 9999;
        padding: 0;

        background: #59d92a;
    }

    header .nav-links
    {
        padding: 0;

        flex-direction: column;
    }

    header .nav-links li
    {
        flex: 1;
        width: 100%;
    }

    header .nav-links li,
    header .nav-links li a,
    header .nav-links li > *
    {
        transition:
            transform 0s ease,
            background .5s ease;
        transform: skewX(0deg);
    }

    header .nav-links li:hover
    {
        transform: skewX(0deg);
    }

    .nav-menu-bar-wrapper
    {
        height: 50px;
        width: 50px;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;

        cursor: pointer;
        transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .nav-menu-bar
    {
        transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .nav-menu-bar-wrapper:hover #bar1
    {
        transform: translateY(-100%);
    }

    .nav-menu-bar-wrapper:active #bar1
    {
        transform: translateY(100%);
    }

    .nav-menu-bar-wrapper:hover #bar3
    {
        transform: translateY(100%);
    }

    .nav-menu-bar-wrapper:active #bar3
    {
        transform: translateY(-100%);
    }

    .nav-menu-bar
    {
        height: 7px;
        border-radius: 5px;

        background: white;
    }
}

@media (max-width: 650px)
{
    /*          */
    /*  HEADER  */
    /*          */

    #nav-menu-checkbox:checked ~ .nav-header
    {
        left: 0%;
    }

    .nav-header
    {
        width: 100vw;
    }

    /*          */
    /*  HOME    */
    /*          */

    #home #main-actions
    {
        width: 100%;
    }

    /*          */
    /*  ABOUT   */
    /*          */

    #about .section-body
    {
        flex-direction: column;
    }

    #about .section-right #about-background-gradient
    {
        position: absolute;
        top: -100%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(0deg, var(--about-section-background)5%, rgba(0, 0, 0, 0) 50%);
    }
}

@media (max-width: 400px)
{
    /*          */
    /*  TEAMS   */
    /*          */

    #team #team-cards .team-card .team-card-overlay
    {
        padding-top: 70%;
    }
}

/*  KEYFRAMES   */

@keyframes breathingText
{
    from
    {
        text-shadow: 0 0 10px white;
    }

    to
    {
        text-shadow: 0 0 20px white;
    }
}

@keyframes breathingCard
{
    from
    {
        box-shadow: 0 0 0px white;
    }
    to
    {
        box-shadow: 0 0 20px white;
    }
}

@keyframes breathingCardBackground
{
    from
    {
        transform: scale(1);
    }
    to
    {
        transform: scale(1.05);
    }
}